	


	/*Global*/


	body {
		font-family: Roboto;
		color: #333333;
	}
	
	.btn {
		display: block;	
	}

	a {
		text-decoration: none;
		color: #333333;
	}

	section {
		min-width: 320px;
	}

	h1 {
		font-size: 70px;
		margin: 0;
		font-weight: normal;
	}

	h2 {
		margin: 0;
		font-weight: normal;
		font-size: 15px;
	}

	/*Header*/

.header {
	position: relative;
	height: 100vh;
	min-width: 320px;
	min-height: 540px;
	background-image: url(../img/header/background_image.png);
	background-repeat: repeat-x;	
	background-size: cover;
	background-position: bottom;
}
	.menu-line {
		padding: 0 75px;
		display: flex;
		height: 100px;
	}
		.header__logo {
			flex-grow: 1;
			align-self: center;
			font-size: 30px;
		}

		.header__logo span {
			position: relative;
		}

		.header__logo span::before {
			content: "";
			width: 23px;
			height: 37px;
			position: absolute;
			background-image: url(../img/section-advantages/tree-leave.png);
			top: -23px;
			left: -7px
		}

		.main-nav {
			font-size: 16px;
			margin-right: 6%;
			align-self: center;
		}

			.main-nav__item {
				display: inline-block;
				margin-right: 30px;
				position: relative;
			}

			.main-nav__item:active::after {
				position: absolute;
				content: "";
				width: 6px;
				height: 6px;
				background-image: url(../img/header/hover-green-point.png);
				left: 43%;
				bottom: -7px;
			}


		.cart {
			position: relative;
			align-self: center;
		}

			.price:before {
			    content: "";
    			width: 17px;
    			height: 15px;
			    background-image: url(../img/header/cart.svg);
			    background-repeat: no-repeat;
			    background-size: cover;
			    position: absolute;
    			left: -20px;

			}

		.menu {
			cursor: pointer;
			align-self: center;
			display: none;
		}


		
		
				
	.promo {
		margin: 0 70px;
		padding-top: 20vh;
		text-align: center;
	}	
	
		.main-promo  {
			
		}
		
		.main-promo b {
			white-space: nowrap
		}

		.dop-promo {
			padding-top: 25px;
		}

		.dop-promo span {
			white-space: nowrap;
		}


	.download-btn {
		width: 160px;
		background-color: #ffffff;
		border-radius: 50px;
    	border: 6px solid #8ACEB2;
    	margin: 80px auto 0;
    	text-align: center;	
    	padding: 15px 0 15px;
    	font-size: 16px;
    	font-weight: bold;
	}
		.download-btn:hover {
			border-color: rgb(150, 255, 211);
			
		}

	
	.socials {
		position: absolute;
		right: 35px;
    	top: 38vh;
	}

		.social {
			display: block;
			background-color: #bababa;
		    padding: 3px;
		    border-radius: 50%;
		    border: 2px solid #bababa;
		    color: #fff;
		    margin-bottom: 15px;
		    text-align: center;
		    opacity: 0.4;
		}
			
			.social:hover {
				
				opacity: 1;
			}	



 /*section-slide*/

 .section-slide {
 	
 }
	 
 	/*oragincs*/
 	.oragincs {
 		display: flex;
 		align-items: flex-end;
 		justify-content: center;
 	}

		.oraginc {
			margin: 0 10px 0 10px;
		}


 		.organics__item {
			border: 1px solid #d8d8d7;
			border-radius: 50px;
			width: 180px;
			color: #9f9e9c;
			font-size: 16px;
			text-align: center;
			padding: 15px 0 15px;
			margin-bottom: 25px;
 		}

 			.organics__item:hover {
				background-color: #81ba00;
				color: #fff;
				box-shadow: 0px 16px 10px 0px rgba(50, 50, 50, 0.09);
 			}

 		.organics-img {
 			width: 280px;
 			height: 187px;
 			background-image: url(../img/section-slide/Organic_All_Natural.svg), url(../img/section-slide/grapefruit.png) ;
 			background-repeat: no-repeat, no-repeat;
			background-position: 50% 100%, 50% 0%;
			flex-shrink: 0;
 		}
	
	/* carousel */
	.wrapper-carousel {
		margin: 70px 75px 70px 75px;
		overflow: hidden;
		
	}

		.carousel {
			min-width: 1750px;
		}

		.carousel__item {
			width: 270px;
			height: 443px;
			border-radius: 15px;
			margin-bottom: 10px;
			margin-top: 5px;
			margin-left: 10px;
		}


		.carousel__item:hover {
			box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
		}

		.carousel__item:hover .carousel__item-hover {
			display: block;
		}


			.carousel__item-top {
				height: 325px;
				background-color: #f7f6f2;
				position: relative;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				background-image: url(../img/CompositePath.png);
				background-repeat: no-repeat;
				background-position: bottom;
			}
				
				.carousel__item-hover {
					position: relative;
					display: none;
					padding-top: 40px;
					text-align: center;
					z-index: 1;
				}

					.carousel__item-hover-icon {
						display: inline-block;
						width: 60px;
						text-align: center;
						background-color: #fff;
						color: #bababa;
						padding: 15px 0px;
						box-shadow: 0px 5px 2px rgba(150, 150, 150, 1);
					}

						.carousel__item-hover-icon:hover {
							background-color: rgb(247, 241, 241);
						}

					.carousel__item-hover-icon:first-child {
						border-top-left-radius: 90px;
						border-bottom-left-radius: 90px;
					}

					.carousel__item-hover-icon:last-child {
						border-top-right-radius: 90px;
						border-bottom-right-radius: 90px;

					}
				
				.carousel__item-img-wrapper {
					display: block;
					position: absolute;
					margin: auto;
					bottom: 0;
    				left: 0;
					right: 0;
					width: 200px;
				}

			.carousel__item-title {
				padding-top: 15px;
				font-size: 20px;
				text-align: center;
			}

			.carousel__item-cost {
				font-size: 12px;
				font-weight: bold;
				text-align: center;;
				color: #59BC00;
				padding-top: 5px;
			}


/* section-advantages */
			
.section-advantages {
	background: #f7f6f2;
	padding-top: 130px;
	background-image: 
	url(../img/section-advantages/left-leaves.png),
	url(../img/section-advantages/right-leaves.png);
	background-repeat: no-repeat, no-repeat;
	background-position-x: 0px, 100%;
	background-position-y: 107px, 390px;
	position: relative;
}

	.adv-pineapple {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -80px;
	}

	

	.adv-content {
		text-align: center;
	}

		.adv-content__header {
			font-size: 40px;
			margin-bottom: 20px;
		}

			.adv-content__header span {
				position: relative;
			}

				.adv-content__header span::before {
					content: "";
					width: 23px;
					height: 37px;
					background-color: #f7f6f2;
					position: absolute;
					background-image: url(../img/section-advantages/tree-leave.png);
					top: -23px;
					left: -7px
				}

		.adv-content__subtitle {
			font-size: 12px;
			letter-spacing: 4px;
			margin-bottom: 50px;
		}

			.adv-content__subtitle::before,
			.adv-content__subtitle::after {
				display: inline-block;
				content: "";
				width: 44px;
				height: 1px;
				background-color: #cccccc;
				vertical-align: middle;
			}


		.adv-content__text {
			font-size: 16px;
			width: 38%;
			margin: 0 auto;
			line-height: 1.8;
		}

	/* advantages */

	.advantages {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		height: 380px;
		padding: 80px 12% 305px 12%;

	}

	.advantages::after {
		content: "";
		position: absolute;
		width: 149px;
		height: 149px;
		background-image:
		url(../img/section-advantages/print.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		left: 56%;
    	top: 69%;
	}

		.advantages-item {
			text-align: center;
			width: 270px;
		}

		.advantages-item:nth-child(2) {
			align-self: flex-start;
		}	

		.advantages-item:nth-child(3) {
			align-self: flex-start;
		}	

			.advantages-item__logo {
				width: 120px;
				height: 118px;
				background-repeat: no-repeat, no-repeat;
				background-position: 6px 6px, center;
				margin: 0 auto;
			}

			.advantages-item:nth-child(1) 
			.advantages-item__logo {
				background-image: 
				url(../img/section-advantages/naturix-svg.svg),
				url(../img/section-advantages/naturix-bg.png);
			}

			.advantages-item:nth-child(2) 
			.advantages-item__logo {
				background-image: 
				url(../img/section-advantages/organic-svg.svg),
				url(../img/section-advantages/organic-bg.png);

			}

			.advantages-item:nth-child(3) 
			.advantages-item__logo {
				background-image: 
				url(../img/section-advantages/quality-svg.svg),
				url(../img/section-advantages/quality-bg.png);
			}

			.advantages-item:nth-child(4) 
			.advantages-item__logo {
				background-image: 
				url(../img/section-advantages/quality-svg.svg),
				url(../img/section-advantages/fresh-bg.png);
			}

			.advantages-item__titel {
				color: #525252;
				font-size: 18px;
				margin-top: 23px;
				margin-bottom: 18px;
			}

			.advantages-item__text {
				color: #525252;
				font-size: 12px;
				margin-bottom: 20px;
			}

			.advantages-item__btn {
				border-radius: 50px;
				width: 125px;
				height: 35px;
				background-color: #fff;
				border-width: 0;
				color: #bac3c3;
				font-size: 12px;
				cursor: pointer;
			}

			.advantages-item__btn:hover {
				background-color: #B1D299;
				color: #fff;
				box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.09);
			}

/* section-our-products */

.section-our-products {
	padding: 195px 0 0;
}

	.our-products-row {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
	}

		.our-products-item {
			display: block;
			width: 170px;
			height: 300px;
			text-align: center;
			border: 2px solid #ebebeb;
			border-radius: 15px;
			position: relative;
		}

			.our-products-item__title::before {
				position: absolute;
				content: "";
				background-color: #eeeeee;
				height: 2px;
				width: 40px;
				left: 65px;
				top: 170px;
			}

			.our-products-item:hover {
				border-color: #7dbd00;
				box-shadow: 0px 10px 14px 0px rgba(50, 50, 50, 0.16);
			}


		.our-products-item_left {
			margin-right: 15px;
		}

		.our-products-item_right {
			margin-left: 15px;
		}


			.our-products-item__logo {
				margin-bottom: 55px;
			}


		.our-products-desc {
			width: 470px;
			padding-bottom: 20px;
		}

		.our-products-desc_right {
			margin-left: 90px;
		}

		.our-products-desc_left {
			margin-right: 90px;
		}

		

			.our-products-desc__small-title {
				font-size: 12px;
				font-weight: medium;
			}

			.our-products-desc__title {
				font-size: 35px;
			}

			.our-products-desc__text {
				font-size: 16px;
			}