/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {

}

/* 961 - 1200 px */
@media screen and (max-width: 1200px) {
    /* header */
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 12px;
    }

    /* section-advantages */
    .advantages {
        padding: 80px 0% 305px 0%;
    } 

        .adv-content__text {
            width: 50%;
        }

    /* section-our-products */
    .our-products-row {
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 0px 125px;
    }

        .our-products-desc {
            order: 1;
            margin: 0;
            margin-left: 40px;
        }

        .our-products-item {
            margin: 0 15px;
            margin-bottom: 30px;
        }

}

/* 769 - 960 px */
@media screen and (max-width: 960px) {
   
    /* header */
    .main-nav {
        display: none;
    }    
        

    .cart {
        margin-right: 5%;
    }

    .menu {
        display: block;
    }

    /* section-slide */

    .organics__item {
        font-size: 12px;
    }

    .organics-img {
        background-position: 50% 90%, 50% 0%;
        background-size: 170px, 200px;
        flex-shrink: 1;
    }

    /* section-advantages */
    .advantages {
        padding: 80px 0% 305px 0%;
    } 

        .advantages::after {
            top: 76%;
        }

        .adv-content__text {
            width: 60%;
        }

    /* section-our-products */
    .our-products-row {
        padding: 0px;
    }

        .our-products-desc {
            margin: 0;
        }
}

/* 481 - 768 px */
@media screen and (max-width: 768px) {
    /* header */
    .menu-line {
        padding: 0 30px;
    }

    .socials {
        display: none;
    }

    /* section-slide */
    .organics-img {
        flex-shrink: 0;
    }

    .oragincs {
        flex-flow: row wrap;
    }

        .organics-img {
            order: -1;
            flex-basis: 100%;
        }

        .organics__item {
            flex-basis: 40%;
        }

    /* section-advantages */

    .section-advantages {
        background-position-y: 450px, 10px;
    }

        .advantages {
            padding: 80px 0% 300px 0%;
            height: auto;
            flex-flow: row wrap;
        }

            .advantages .advantages-item {
                align-self: flex-start;
                margin-bottom: 30px;
            }


  
        .adv-pineapple {
            width: 90%;
        }

        .advantages::after {
            width: 109px;
            height: 109px;
            left: 56%;
            top: 90%;
        }

        .adv-content__subtitle::before,
        .adv-content__subtitle::after {
            display: none;
        }

         /* section-our-products */

            .our-products-desc {
                padding-left: 30px;
                padding-right: 30px;
            }

            .our-products-item {
                margin: 0 14%;
                margin-bottom: 30px;
                width: 250px;
            }



         

}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
    /* header */
    .promo {
        margin:  0 25px;
    }

    .organics__item {
        flex-basis: 50%;
    }
    
    /* section-slide */
    .wrapper-carousel {
		margin: 70px 30px 70px 30px;
	}

}

    
